<div class="col-lg-12" [@fadeIn]>

<a class="btn-active btn btn-success"
   [@mark]="status"
   (click)="changeState(status)">
    <span *ngIf="status == 'inactive'"> Inactive </span>
    <span *ngIf="status == 'active'"> Active </span>
</a>

<br>

<h4>Animations css 3</h4>
<a class="btn btn-transition">Transitionnpm start</a>

<div class="clearfix"></div>
<div class="animation-box"></div>


<hr>
<p> Utilizar jquery dentro de angular</p>
<button id="botonjq">Mostrar text</button>
<p id="textojq" class="alert alert-warning">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempor, sapien ac molestie consequat, ipsum elit aliquam magna, eu cursus ipsum justo nec erat.
</p>
<hr>
<h1>{{ titulo }}</h1>
<simple-tiny
  [elementId]="'my-editor-id'"
  (onEditorKeyup)="textBoxEditor($event)"
>
</simple-tiny>
</div>
