<div class="col-lg-8 col-lg-offset-2" [@fadeIn]>
  <div class="jumbotron">
    <h1> {{ title }}</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempor, sapien ac molestie consequat, ipsum elit aliquam magna, eu cursus ipsum justo nec erat.
    </p>
    <p>
      <a [routerLink]="['/animals']" role="button" class="btn btn-primary btn-lg">
        view animals
      </a>
      <a [routerLink]="['/keepers']" role="button" class="btn btn-success btn-lg">
        view keepers
      </a>
      <a [routerLink]="['/contact']" role="button" class="btn btn-warning btn-lg">
        view Contact
      </a>
    </p>
  </div>
</div>

