<div class="navigation col-lg-12">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a [routerLink]="['/home']" class="navbar-brand">{{ title }}</a>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/home']" [routerLinkActive]="['active-nav']">
            <span class="glyphicon glyphicon-home"></span>
            Home
          </a>
        </li>
          <li>
            <a [routerLink]="['/animals']" [routerLinkActive]="['active-nav']">
              <span class="glyphicon glyphicon-leaf"></span>
              Animals
            </a>
          </li>
					<li>
            <a [routerLink]="['/keepers']" [routerLinkActive]="['active-nav']">
              <span class="glyphicon glyphicon-user"></span>
              Keepers
            </a>
          </li>
					<li>
            <a [routerLink]="['/shop']" [routerLinkActive]="['active-nav']">
              <span class="glyphicon glyphicon-gift"></span>
              Shop
            </a>
          </li>
					<li>
            <a [routerLink]="['/contact']" [routerLinkActive]="['active-nav']">
              <span class="glyphicon glyphicon-comment"></span>

              Contact
            </a>
          </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="!identity">
        <li>
          <a [routerLink]="['/sign-in']">
            <span class="glyphicon glyphicon-user"></span>
            sign in
          </a>
        </li>
        <li>
          <a [routerLink]="['/login']">
            <span class="glyphicon glyphicon-log-in"></span>
            Log in
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="identity">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            {{identity.name}} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>

              <a class="pointer" [routerLink]="['/my-information']">
                <span class="glyphicon glyphicon-cog"></span>
                My information
              </a>
            </li>
            <li>

              <a class="pointer" (click)="logout()">
                <span class="glyphicon glyphicon-log-out"></span>
                log out
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="col-lg-11">
  <router-outlet></router-outlet>
</div>

