<div class="col-lg-6">
  <h1>{{title}}</h1>

  <div class="alert alert-success" *ngIf="status === 'success'">
    login is success.
  </div>
  <div class="alert alert-danger" *ngIf="status === 'error'">
    Error to login user.
  </div>

  <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-7">
    <p>
      <label for="email">Email</label>
      <input type="text" id="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required>
      <span *ngIf="!email.valid && email.touched" class="alert-warning">
        the field email is required
      </span>
    </p>
    <p>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required>
      <span *ngIf="!password.valid && password.touched" class="alert-warning">
        the field password is required
      </span>
    </p>
    <input type="submit" value="Enter" class="btn btn-success" [disabled]="!loginForm.form.valid">
  </form>
</div>
